.header {
  display: flex;
  font-family: "ArchivoBlack", Arial, sans-serif;
  flex-direction: column;
  padding: 90px 120px 0;
  z-index: -2;
  overflow: hidden;
  max-width: 100vw;
}

.header__container {
  display: grid;
  max-width: 1440px;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "title photo"
    "subheading photo"
    "description photo"
    "nav photo";
}

.header__image-container {
  grid-area: photo;
}

.header__circle-glow {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #6d6dff;
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
}

.header__profile-pic {
  max-height: 500px;
  max-width: 387px;
  align-self: flex-end;
  /* padding: 40px 0px 100px 20px; */
  /* position: absolute; */
  z-index: 2;
}

.header__title {
  font-family: "ArchivoBlack", serif, sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  margin: 0;
  max-width: 790px;
  padding-bottom: 15px;
  color: white;
  grid-area: title;
}

.header__subheading {
  font-family: "OpenSans", serif, sans-serif;
  font-size: 18px;
  max-width: 790px;
  font-weight: normal;
  margin: 0;
  color: white;
  opacity: 50%;
  grid-area: subheading;
}

.circle--header {
  background-color: #6d6dff;
  position: absolute;
  grid-area: photo;
  z-index: -1;
  border-radius: 50%;
  filter: blur(120px);
}

.header__subheading--break {
  display: none;
}

.header__description {
  color: white;
  font-family: "OpenSans", sans-serif;
  max-width: 793px;
  max-height: fit-content;
  font-size: 18px;
  line-height: 1.5;
  grid-area: description;
}

.header__nav {
  grid-area: nav;
  display: flex;
  gap: 30px;
  font-family: "OpenSans";
  font-weight: 600;
  line-height: 1.5;
  padding-top: 30px;
}

.header__nav-link {
  font-family: "OpenSans", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-style: normal;
}

.header__nav-link:hover {
  opacity: 0.6;
}

.header__title--icons {
  font-size: 40px;
  max-width: 100%;
  padding-top: 110px;
  grid-area: none;
}

.header__icon-container {
  padding: 40px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  gap: auto;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  max-height: 57px;
  max-width: 50px;
}

/* Tablet versions */

@media screen and (max-width: 1023px) {
  .header {
    padding: 40px 40px 100px 40px;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 40px 40px 40px 40px;
  }
  .header__subheading--division {
    display: none;
  }

  .header__subheading--break {
  }

  .header__icon-container {
    gap: auto;
  }
}

/* Mobile version */
@media screen and (max-width: 320px) {
  .header {
    max-width: 100vw;
  }
  .header__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "photo",
      "title",
      "subheading" "description" "nav";
    max-width: 320px;
  }
  .header__title {
    font-size: 2.25rem;
  }

  .header__description {
    max-width: 280px;
    max-height: fit-content;
  }
}
