/* Featured projects section */
.main {
  margin: 0;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: "ArchivoBlack";
  font-size: 40px;
  margin: 0 0 50px 0;
  padding: 0;
  color: white;
}

.main__projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 590px));
  justify-content: center;
  gap: 20px;
}

/* Project cards */
.project-card {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  max-width: 590px;
}

/* Project preview images */
.project-card__thumbnail-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 590px;
  max-height: 330px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.project-card__thumbnail {
  width: 100%;
  max-width: 590px;
  max-height: 330px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.project-card__gradient {
  position: absolute;
  /* Transparent-to-dark image overlay */
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

/* Technology icons */
.project-card__tech-icons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  grid-area: 1 / 1;
  display: flex;
  align-items: end;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.project-card__tech-icon {
  max-height: 40px;
  max-width: 40px;
}

/* Project details and links */
.project-card__content {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "OpenSans";
  margin: 0;
  max-width: 590px;
  padding: 30px;
}

.project-card__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 20px 0;
}

.project-card__description {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  min-height: 175px;
}

.project-card__links {
  display: flex;
  gap: 20px;
  margin-top: auto;
}

.project-card__link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  margin: 0;
  padding: 30px 0 0 0;
}

.project-card__link:hover {
  opacity: 0.6;
}

.project-card__link--gray {
  color: rgb(255 255 255 / 0.6);
}

.project-card__link--blue {
  color: #6d6dff;
}

.project-card__link-icon {
  max-width: 20px;
  max-height: 20px;
}

.project-card__link-icon--transparent {
  opacity: 0.6;
}

/* @media screen and (max-width: 1439px) {
  .main__projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
} */

/* Tablet layout */
@media screen and (max-width: 1023px) {
  .main {
    padding: 0 40px;
  }

  .main__projects {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
  }

  .project-card__thumbnail {
    width: 100%;
  }
}

/* Small tablet layout */
@media screen and (max-width: 768px) {
  .main__projects {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
  }

  .project-card {
    width: 100%;
  }
}

/* Mobile layout */
@media screen and (max-width: 320px) {
  .main {
    width: 100%;
    padding: 0 20px;
  }

  .main__title {
    font-size: 28px;
  }

  .project-card__title {
    font-family: "OpenSans Bold";
    font-size: 20px;
    font-weight: bold;
  }

  .project-card__description,
  .project-card__link {
    font-size: 16px;
  }

  .project-card__links {
    justify-content: space-between;
    gap: 0;
  }

  .project-card {
    width: 280px;
    max-width: 100%;
  }

  .project-card__content {
    padding: 20px;
  }

  .project-card__thumbnail {
    width: 280px;
    max-width: 100%;
    height: 160px;
    max-height: 160px;
  }

  .project-card__thumbnail-wrapper {
    width: 280px;
    max-width: 280px;
    height: 160px;
    max-height: 160px;
    aspect-ratio: auto;
  }

  .project-card__tech-icons {
    gap: 5px;
  }

  .project-card__tech-icon {
    width: 20px;
    height: 20px;
  }
}
