.main {
  margin: 0;
  padding: 0 120px;
  max-width: 100vw;
  overflow: hidden;
}

.main__title {
  font-family: "ArchivoBlack";
  font-size: 40px;
  margin: 0 0 50px 0;
  padding: 0;
  color: white;
}

.main__projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 590px;
  column-gap: 20px;
  row-gap: 0;
}

.main__project-card {
  display: grid;
  background-color: #1c1c1c;
  max-width: 590px;

  align-content: space-around;
}

.main__thumbnail-wrapper {
  overflow: hidden;
  max-width: 590px;
  max-height: 330px;
  grid-area: 1 / 1;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.main__project-card__thumbnail {
  max-width: 590px;
  max-height: 330px;
  grid-area: 1 / 1;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.main__project-card__gradient {
  position: absolute;
  /* Gradiente de transparente arriba a negro semitransparente (80% opacidad) abajo */
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.main__project-card__icons {
  grid-area: 1 / 1;
  display: grid;
  align-items: end;
  align-content: end;
  grid-template-rows: 40px;
  grid-template-columns: 40px 40px;
  gap: 10px;
}

.main__project-card__icon {
  max-height: 40px;
  max-width: 40px;
  padding: 10px;
}

.main__project-card__textbox {
  color: white;
  font-family: "OpenSans";
  margin: 0;
  max-width: 590px;
  max-height: 340px;
  padding: 30px;
}

.main__project-card__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0 0 20px 0;
}

.main__project-card__description {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  min-height: 175px;
}

.main__card-links {
  display: flex;
  gap: 20px;
}

.main__card-link {
  display: flex;
  gap: 10px;
  text-decoration: none;
  margin: 0;
  padding: 30px 0 0 0;
}

.main__card-link:hover {
  opacity: 0.6;
}

.main__card-link--gray-text {
  color: rgb(255 255 255 / 0.6);
}

.main__card-link--blue-text {
  color: #6d6dff;
}

.main__card-link__icon {
  max-width: 20px;
  max-height: 20px;
}

.main__card-link__icon--transparent {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .main__projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .main__projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}
